<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sml.edu.tesoem.tics.saulmarquezlara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".saul12Activity"></activity>
        <activity android:name=".saul11Activity" />
        <activity android:name=".saul10Activity" />
        <activity android:name=".saul9Activity" />
        <activity android:name=".saul8Activity" />
        <activity android:name=".saul7Activity" />
        <activity android:name=".saul6Activity" />
        <activity android:name=".saul5Activity" />
        <activity android:name=".saul4Activity" />
        <activity android:name=".saul3Activity" />
        <activity android:name=".saul2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>